* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    background-color: green;
    max-width: 500px
}

.page_wrap {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    align-items: center;
}

.button {
    grid-area: 3/ 4/ 4/ 5;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border: initial;
    border-radius: 50%;
    background-color: rgb(228, 55, 55);
    box-shadow: 0.05rem 0.8rem 0.8rem 0.2rem rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: red;
}

.button:active {
    background-color: rgb(129, 0, 0);
}

.dice_container_One {
    grid-area: 3/ 2/ 4/ 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: inherit;
    flex-shrink: inherit;
    flex-wrap: wrap;
    width: 12rem;
    height: 12rem;
}

.dice {
    position: absolute;
    flex-basis: center;
    width: 12rem;
    height: 12rem;
    padding: 15%;
    background-color: aliceblue;
    border: solid 0.15rem black;
    border-radius: 1.5rem;
    box-shadow: 0.05rem 0.8rem 0.8rem rgba(0, 0, 0, 0.12);
}

.dot {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
    background-color: black;
}

.diceGrid {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
}


/* :: the dice face :: */
.dice_one_f1 {
    z-index: 0;
}

.dice_one_f1 {
    justify-content: center;
}

.dice_one_f1 :nth-child(1) {
    grid-area: 2 / 2 / 2 /2;
}

.dice_one_f2 {
    z-index: 0;
}

.dice_one_f2 .dot {
    margin-left: 20%;
}

.dice_one_f2 :nth-child(1) {
    grid-area: 1 / 1 / 1;
}

.dice_one_f2 :nth-child(2) {
    grid-area: 3 / 3 / 3;
}

.dice_one_f3 {
    z-index: 0;
}

.dice_one_f3 {
    justify-content: center;
}

.dice_one_f3 :nth-child(1) {
    grid-area: 1/ 1/ 1;
}

.dice_one_f3 :nth-child(2) {
    grid-area: 2/ 2/ 3;
}

.dice_one_f3 :nth-child(3) {
    grid-area: 3/ 3/ 3;
}

.dice_one_f4 {
    z-index: 0;
}

.dice_one_f4 .dot {
    margin: 20%;
}

.dice_one_f4 :nth-child(1) {
    grid-area: 1/ 1/ 1;
}

.dice_one_f4 :nth-child(2) {
    grid-area: 1/ 3/ 1;
}

.dice_one_f4 :nth-child(3) {
    grid-area: 3/ 1/ 3;
}

.dice_one_f4 :nth-child(4) {
    grid-area: 3/ 3/ 3;
}

.dice_one_f5 {
    z-index: 0;
}

.dice_one_f5 {
    justify-content: center;
}

.dice_one_f5 :nth-child(1) {
    grid-area: 1/ 1/ 1;
}

.dice_one_f5 :nth-child(2) {
    grid-area: 1/ 3/ 1;
}

.dice_one_f5 :nth-child(3) {
    grid-area: 2/ 2/ 2;
}

.dice_one_f5 :nth-child(4) {
    grid-area: 3/ 1/ 3;
}

.dice_one_f5 :nth-child(5) {
    grid-area: 3/ 3/ 3;
}

.dice_one_f6 {
    z-index: 0;
}

.dice_one_f6 .dot {
    margin-left: 20%;
}

.dice_one_f6 :nth-child(1) {
    grid-area: 1/1/1
}

.dice_one_f6 :nth-child(2) {
    grid-area: 2/1/2
}

.dice_one_f6 :nth-child(3) {
    grid-area: 3/1/3
}

.dice_one_f6 :nth-child(4) {
    grid-area: 1/3/1
}

.dice_one_f6 :nth-child(5) {
    grid-area: 2/3/2
}

.dice_one_f6 :nth-child(6) {
    grid-area: 3/3/3
}

.result {
    color: white;
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 340px) {

    .dice {
        width: 12rem;
        height: 12rem;
    }

    .dot {
        border-radius: 50%;
        width: 1.6rem;
        height: 1.6rem;
        margin: 0 0.3rem 0 0.3rem;
    }
}