body {
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.disclaimer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    padding: 0;
    margin: 0;
}

.disclaimer-window {
    animation: fadeIn 1s;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 850px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.disclaimer-window h1, .disclaimer-window p, #disclaimerButton  {
    display: block;
    text-align: center;
    font-family: Arial
}

.disclaimer-window h1 {
    font-size: 50px;
    font-weight: 700;
}

.disclaimer-window p {
    font-size: 25px;
    font-weight: 500;
    margin-top: 65px;
    margin-bottom: 65px;
}

#disclaimerButton {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.1);
    background-color: green;
    border: 3px solid green;
    border-radius: 25px;
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.3);
    padding: 14px 38px;
}

#disclaimerButton:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
    padding: 14px 39px;
}

#disclaimerButton:active {
    border: 2px solid rgb(0, 193, 211);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
