:root {
    --green: #b8d953;
    --lilac: #b2b2eb;
    --pink: #bb86e9;
    --dark-green: #529a91;
    --peach: #fe96b7;
    --black: #191819;
    --grey: #2a292a;
    --white: #d9d9d9;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid transparent;
    border-top: 8px solid var(--pink);
    /* visible arc */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

/* keyframes */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
