body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.gauge-container {
    position: relative;
}

#gaugeValue {
    margin-top: 20px;
    width: 100px;
}

.thicc { font-weight: bold; }

#gaugeValue { display: none }
