<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tiffany's Thanksgiving menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css">
</head>

<body class="container">
    <h1>Thanksgiving menu</h1>
    <div id="app">
        <div v-if="!authenticationInitiated">
            <input v-model="passcode" placeholder="Your passcode" />
            <button @click="viewMenu" class="btn btn-primary" v-show="passcode.length >= 1">View menu</button>
        </div>
        <div v-if="authenticationInitiated">
            <ul class="list-group" v-if=" hasAccess || isThxGivingWeek">
                <li v-for="entry in menu" class="list-group-item">
                    <figure>
                        <img v-bind:src="entry.url" />
                        <figcaption>
                            <a v-if="entry.wikiLink" v-bind:href="entry.wikiLink" target="_blank">{{entry.name}}</a>
                            <span v-else>{{entry.name}}</span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <h2 v-else-if="passcode.length > 0">You don't have access. Please wait till Thanksgiving week to view the
                menu.</h2>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="tg.js"></script>
</body>

</html>