<!DOCTYPE html>
<html lang="en">

<head>
    <title>What car should I own</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>

<body>
    <div id="app" class="container form-group">
        <div class="row">
            <h1>What car{{ (parseInt(numCarsRequired) > 1 ? 's' : '') }} should I own?</h1>
        </div>
        <div class="row">
            <label for="numCarsRequired">How many cars do you want?</label>
            <select class="form-control" v-model="numCarsRequired" name="numCarsRequired">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="row" v-if="parseInt(numCarsRequired) > 1">
            <label>Do you live in Northern New England (Maine, Vermont, New Hampshire) or in the Rockies?</label>
            <select class="form-control" v-model="isNorthernNewEngland" name="isNorthernNewEngland">
                <option disabled>Select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>
        <div class="row" v-if="(parseInt(numCarsRequired) > 1)">
            <label>How many children</label>
            <input type="number" v-model="children" class="form-control" />
        </div>

        <div class="row" v-if="accessibilityNeeds === 'N' && parseInt(children) > 2">
            <label>Are you too cool for minivans?</label>
            <select class="form-control" v-model="noMinivan">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>
        <div class="row">
            <label>Do any of your passengers have accessibility needs?</label>
            <select v-model="accessibilityNeeds" class="form-control">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>

        <div class="row" v-if="parseInt(numCarsRequired) > 1">
            <label>Has home charging or live near a Tesla Supercharging station?</label>
            <select class="form-control" v-model="hasHomeCharging">
                <option value="Y">Yes (garage or apartment parking lot)</option>
                <option value="Y">Yes (Tesla Superchargers nearby)</option>
                <option value="N">No</option>
            </select>
            </select>
        </div>

        <div class="row" v-if="hasHomeCharging === 'N'">
            <label>Workplace has charging?</label>
            <select class="form-control" v-model="hasWorkCharging">
                <option value="Y">There is charging</option>
                <option value="N">No</option>
            </select>
        </div>
        <div class="row" v-if="parseInt(numCarsRequired) > 2">
            <label>What's the purpose of a 3rd car?</label>
            <select class="form-control" v-model="thirdCarPurpose">
                <option disabled>Select</option>
                <option value="1">Off-roading</option>
                <option value="2">Hobby car/track car</option>
                <option value="3">Uber/backup car</option>
                <option value="4">Light duty towing/hauling</option>
            </select>
        </div>
        <div class="row">
            <table class="table" v-if="parseInt(numCarsRequired) > 0">
                <tbody>
                    <tr>
                        <td>Daily driver</td>
                        <td>
                            <figure>
                                <img v-bind:src="cars[result.dailyDriver].image" />
                                <figcaption>{{cars[result.dailyDriver].name}}</figcaption>
                            </figure>
                        </td>
                    </tr>
                    <tr v-if="result.winterCar">
                        <td>Winter car/baby car/Costco car</td>
                        <td>
                            <figure>
                                <img v-bind:src="cars[result.winterCar].image" />
                                <figcaption>{{cars[result.winterCar].name}}</figcaption>
                            </figure>
                        </td>
                    </tr>
                    <tr v-if="result.thirdCar">
                        <td>3rd car</td>
                        <td>
                            <figure>
                                <img v-bind:src="cars[result.thirdCar].image" />
                                <figcaption>{{cars[result.thirdCar].name}}</figcaption>
                            </figure>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" v-if="parseInt(numCarsRequired) > 0">
            Do you like the results?
            <span v-for="key in Array.from({length: 5}, (e, i)=> i+1)" @click="rating = key" v-bind:id="'star-' + key"
                v-bind:class="['fa', 'fa-star', {checked: rating >= key}]"></span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>