<!DOCTYPE html>
<html lang="en">

<head>
    <title>What car should I own</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>

<body>
    <div id="app" class="container form-group">
        <div class="row"><h1>What car{{ (parseInt(numCarsRequired) > 1 ? 's' : '') }} should I own?</h1></div>
        <div class="row">
            <label for="numCarsRequired">How many cars do you want?</label>
            <select class="form-control" v-model="numCarsRequired" name="numCarsRequired">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="row" v-if="parseInt(numCarsRequired) > 1">
            <label>Do you live in Northern New England (Maine, Vermont, New Hampshire) or in the Rockies?</label>
            <select class="form-control" v-model="isNorthernNewEngland" name="isNorthernNewEngland">
                <option disabled>Select</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>
        <div class="row" v-if="(parseInt(numCarsRequired) > 1)">
            <label>How many children</label>
            <input type="number" v-model="children" class="form-control" />
        </div>

        <div class="row" v-if="accessibilityNeeds === 'N' && parseInt(children) > 2">
            <label>Are you too cool for minivans?</label>
            <select class="form-control" v-model="noMinivan">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>
        <div class="row">
            <label>Do any of your passengers have accessibility needs?</label>
            <select v-model="accessibilityNeeds" class="form-control">
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </div>

        <div class="row" v-if="parseInt(numCarsRequired) > 1">
            <label>Has home charging or live near a Tesla Supercharging station?</label>
            <select class="form-control" v-model="hasHomeCharging">
                <option value="Y">Yes (garage or apartment parking lot)</option>
                <option value="Y">Yes (Tesla Superchargers nearby)</option>
                <option value="N">No</option>
            </select>
            </select>
        </div>

        <div class="row" v-if="hasHomeCharging === 'N'">
            <label>Workplace has charging?</label>
            <select class="form-control" v-model="hasWorkCharging">
                <option value="Y">There is charging</option>
                <option value="N">No</option>
            </select>
        </div>
        <div class="row" v-if="parseInt(numCarsRequired) > 2">
            <label>What's the purpose of a 3rd car?</label>
            <select class="form-control" v-model="thirdCarPurpose" >
                <option disabled>Select</option>
                <option value="1">Off-roading</option>
                <option value="2">Hobby car/track car</option>
                <option value="3">Uber/backup car</option>
                <option value="4">Light duty towing/hauling</option>
            </select>
        </div>
        <div class="row">
            <table class="table" v-if="parseInt(numCarsRequired) > 0">
                <tbody>
                    <tr>
                        <td>Daily driver</td>
                        <td>
                            <figure>
                                <img v-bind:src="cars[result.dailyDriver].image" />
                                <figcaption>{{cars[result.dailyDriver].name}}</figcaption>
                            </figure>
                        </td>
                    </tr>
                    <tr v-if="result.winterCar">
                        <td>Winter car/baby car/Costco car</td>
                        <td>
                            <figure>
                                <img v-bind:src="cars[result.winterCar].image" />
                                <figcaption>{{cars[result.winterCar].name}}</figcaption>
                            </figure>
                        </td>
                    </tr>
                    <tr v-if="result.thirdCar">
                        <td>3rd car</td>
                        <td>
                            <figure>
                                <img v-bind:src="cars[result.thirdCar].image" />
                                <figcaption>{{cars[result.thirdCar].name}}</figcaption>
                            </figure>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" v-if="parseInt(numCarsRequired) > 0">
            Do you like the results?
            <span v-for="key in Array.from({length: 5}, (e, i)=> i+1)" @click="rating = key" v-bind:id="'star-' + key"
                v-bind:class="['fa', 'fa-star', {checked: rating >= key}]"></span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        const cars = {
            rav4: {
                name: 'Toyota RAV4',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/2019_Toyota_RAV4_Excel_HEV_CVT_2.5_Front.jpg/420px-2019_Toyota_RAV4_Excel_HEV_CVT_2.5_Front.jpg'
            },
            model3: {
                name: 'Tesla Model 3',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/2019_Tesla_Model_3_Performance_AWD_Front.jpg/420px-2019_Tesla_Model_3_Performance_AWD_Front.jpg'
            },
            sienna: {
                name: 'Toyota Sienna',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/2021_Toyota_Sienna_XLE_Hybrid%2C_front_12.21.21.jpg/420px-2021_Toyota_Sienna_XLE_Hybrid%2C_front_12.21.21.jpg'
            },
            corolla: {
                name: 'Toyota Corolla Hybrid/Prius',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/2019_Toyota_Corolla_Design_VVT-i_HEV_1.8_Front.jpg/420px-2019_Toyota_Corolla_Design_VVT-i_HEV_1.8_Front.jpg'
            },
            outback: {
                name: 'Subaru Outback',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/2023_Subaru_Outback_Premium%2C_front_right%2C_09-09-2023.jpg/420px-2023_Subaru_Outback_Premium%2C_front_right%2C_09-09-2023.jpg'
            },
            priusPrime: {
                name: 'Toyota Prius Prime',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Toyota_Prius_%28XW60%29_Plug-in_Hybrid_Automesse_Ludwigsburg_2023_1X7A0004.jpg/420px-Toyota_Prius_%28XW60%29_Plug-in_Hybrid_Automesse_Ludwigsburg_2023_1X7A0004.jpg'
            },
            ascent: {
                name: 'Subaru Ascent',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Subaru_Ascent_IMG_3632.jpg/420px-Subaru_Ascent_IMG_3632.jpg'
            },
            wrangler: {
                name: 'Jeep Wrangler',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2018_Jeep_Wrangler_Sahara_Unlimited_Multijet_2.1_Front.jpg/280px-2018_Jeep_Wrangler_Sahara_Unlimited_Multijet_2.1_Front.jpg'
            },
            wrx: {
                name: 'Subaru WRX',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/2022_Subaru_WRX_GT_in_Ceramic_White%2C_front_left_%28NYIAS_2022%29.jpg/280px-2022_Subaru_WRX_GT_in_Ceramic_White%2C_front_left_%28NYIAS_2022%29.jpg'
            },
            maverick: {
                name: 'Ford Maverick',
                image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/2022_Ford_Maverick_XLT_AWD_with_FX4_Off-Road_Package.jpg/280px-2022_Ford_Maverick_XLT_AWD_with_FX4_Off-Road_Package.jpg'
            },
        };
        new Vue({
            el: '#app',
            data() {
                return {
                    thirdCarPurpose: undefined,
                    noMinivan: undefined,
                    isNorthernNewEngland: undefined,
                    numCarsRequired: 0,
                    hasHomeCharging: undefined,
                    hasWorkCharging: undefined,
                    accessibilityNeeds: undefined,
                    children: 0,
                    rating: 0,
                    cars
                };
            },
            computed: {
                result() {
                    /**
                     * @type {{ thirdCar: string; winterCar: string; dailyDriver: string }}
                     */ 
                    let result = {
                        dailyDriver: this.accessibilityNeeds === 'Y' ? 'sienna' : 'rav4'
                    };
                    if (parseInt(this.numCarsRequired) >= 2) {
                        if (this.isNorthernNewEngland === 'Y') {
                            if ( this.accessibilityNeeds === 'Y') result.winterCar = 'sienna';
                            else if (this.children > 2) result.winterCar = 'ascent';
                            else result.winterCar = 'outback';
                        }
                        else {
                             if (this.children > 2 || this.accessibilityNeeds === 'Y') 
                                result.winterCar = this.noMinivan ? 'ascent' : 'sienna' ;
                             else result.winterCar = 'rav4';
                        }
                        if (this.hasHomeCharging === 'Y') {
                            result.dailyDriver = 'model3';
                        }
                        else if (this.hasWorkCharging === 'Y') {
                            result.dailyDriver = 'priusPrime';
                        }
                        else result.dailyDriver = 'corolla';

                        if (parseInt(this.numCarsRequired) === 3) {
                            switch(this.thirdCarPurpose){
                                case '1': result.thirdCar = 'wrangler'; break;
                                case '2': result.thirdCar = 'wrx'; break;
                                case '3': 
                                    if (result.dailyDriver !== 'rav4' && result.winterCar !== 'rav4')
                                        result.thirdCar = 'rav4';
                                    else if (result.dailyDriver !== 'priusPrime')
                                        result.thirdCar = 'priusPrime';
                                    else if (result.dailyDriver !== 'corolla')
                                        result.thirdCar = 'corolla';
                                    else if (result.dailyDriver !== 'model3')
                                        result.thirdCar = 'model3';
                                    else if (result.winterCar !== 'sienna')
                                        result.thirdCar = 'sienna';
                                    break;
                                case '4' :
                                    result.thirdCar = 'maverick'; break;
                            }
                        }
                    }
                    return result;
                }
            }
        });
    </script>
</body>

</html>
